<!DOCTYPE HTML>

{% extends "layout.html" %}
{% block content %}
<html>
        <h1>Facts</h1>
<body>
    
	<ol>
	  <li style="margin-bottom: 10px;">COVID-19 symptoms can range from mild (or no symptoms) to severe illness.</li>
	  <li style="margin-bottom: 10px;">You can become infected by coming into close contact (about 6 feet or two arm lengths) with a person who has COVID-19. COVID-19 is primarily spread from person to person.</li>
	  <li style="margin-bottom: 10px;">You can become infected from respiratory droplets when an infected person coughs,sneezes, or talks</li>
	  <li style="margin-bottom: 10px;">You may also be able to get it by touching a surface or object that has the virus on it, and then by touching your mouth, nose, or eyes. </li>
	  <li style="margin-bottom: 10px;">Wear a cloth face covering that covers your nose and mouth in public settings. </li>
	  <li style="margin-bottom:10px;">Wash your hands often with soap and water for at least 20 seconds, or use an alcoholbased hand sanitizer that contains at least 60% alcohol. </li>
	  <li style="margin-bottom:10px;">Buy groceries and medicine, go to the doctor, and complete banking activities online when possible.</li>
	  <li style="margin-bottom: 10px;">If you must go in person,stay at least 6 feet away from others and disinfect items you must touch. </li>
	  <li style="margin-bottom: 10px;">Avoid public transportation, ride-sharing, or taxis.</li>
	  <li style="margin-bottom: 10px;">Older adults and people of any age who have serious underlying medical conditions may be at higher risk for more severe illness.</li>  
	</ol>
	<p> Facts taken from <a href='https://www.cdc.gov/coronavirus/2019-ncov/downloads/2019-ncov-factsheet.pdf'>CDC.gov</a></p>	
    
</body>
</html>
{% endblock %}

