<!DOCTYPE html>
{% extends "layout.html" %}
<!-- Anything encapsulated in the content block will show up in the body section of the page -->
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid Info</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

</head>
<body>
<div>{{data | safe}}</div>
</body>
</html>
{% endblock %}